/node_modules
/db
/dist
/yarn-error.log
/yarn.lock
/coverage
/.env
/serverData
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
out/
/src/api/export/Types/
/src/api/Types/RequestTypes
/src/modules/BackendQueries

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions